<section class="featured-section">
  <div class="content">
    <h1>Más que muebles</h1>
    <h2>Flexibilidad y estilo en cada rincón</h2>
    <p class="description">
      Combina diseño moderno y adaptabilidad aprovechando al máximo tu espacio
    </p>
    <div class="buttons">
      <button class="primary-button">Combina y crea tu isla</button>
      <button class="secondary-button">Ver catálogo</button>
    </div>
  </div>

  <!-- Carrusel de imágenes -->
  <div class="carousel">
    <div #carouselTrack class="carousel-track">
      <div class="carousel-item" *ngFor="let image of images">
        <img [src]="image" alt="Imagen de carrusel" />
      </div>
    </div>
    <!-- Botones para navegar -->
    <button class="carousel-button prev" (click)="moveSlide(-1)">&#10094;</button>
    <button class="carousel-button next" (click)="moveSlide(1)">&#10095;</button>
  </div>


</section>
