<div class="container">
  <div class="background-frame"></div>
  <img src="../../assets/carru7.jpeg" alt="Isla de cocina" class="kitchen-image">

  <div class="text-content">
    <h2>Problema 1 <span>(ej: Poca mesada?)</span></h2>
    <p>En Nómada, no solo fabricamos muebles; creamos soluciones a medida para que tu cocina sea un espacio dinámico, organizado y elegante. Nuestras islas de cocina personalizables están diseñadas pensando en vos, con módulos que se adaptan a tus necesidades y te permiten sacar el máximo provecho de cada rincón de tu hogar.</p>
  </div>
</div>


